/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 1rem;
  padding: 2px 5px;
}

a {
  text-decoration: none;
  color: #5c5c5c;
}

.nav-link:hover {
  color: #17bfa3;
}

.login-text {
  letter-spacing: 0.01em;
}

#forgot-password {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

#email1,
#password {
  color: #17bfa3;
}

#email1::placeholder,
#password::placeholder {
  color: #17bfa3;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: bold;
}

.color-text-mint {
  color: #16bfa3;
}

.color-text-blue {
  color: #0163e0;
}

.red {
  color: #eb4335;
}

.poppins-light,
.poppins-regular,
.poppins-medium,
.poppins-semibold {
  font-family: "Poppins", sans-serif;
}

.poppins-light {
  font-weight: 300;
}

.poppins-semibold {
  font-weight: 600;
}

.poppins-sm-semibold {
  font-size: 1.3rem;
}

.title {
  font-size: 1.3rem;
}

.font-white {
  color: white;
}

.font-gray {
  color: #0e0000;
}

.font-mint {
  color: #16bfa3;
}

.font-header-dash {
  font-weight: 500;
}

.font-header-dash a:active,
.font-header-dash a:hover,
.font-header-dash a:visited,
.font-header-dash a {
  color: #fff;
}

.bg-mint {
  background-color: #16bfa3;
}

.bg-search {
  background-color: rgb(186, 216, 255);
}

.bg-footer {
  background-color: #3a87e9;
}

.heading1 {
  font-size: 1.4rem;
}

.form-control {
  padding: 1rem;
  width: 93%;
  margin: auto;
}

.form-control-resize-login {
  width: 19em;
}

.btn-login-home {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 310px;
  height: 48px;
  box-shadow: 2px 3px 4px rgba(0, 54, 126, 0.31);
  margin-top: 20px;
}

.shadowtop {
  width: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 8rem 1rem 20rem;
  background-color: #fff;
  flex-direction: row;
}

.shadowsearchdate {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.col-6 {
  flex: 0 0 auto;
  width: 90%;
}

.forgot-password {
  padding-left: 0;
  margin-right: 0;
}

.big-mint-icons {
  font-size: 72px;
  color: #16bfa3;
}

.small-mint-icons {
  font-size: 48px;
  color: #16bfa3;
}

.small-icons-footer {
  font-size: 36px;
  color: #fff;
}

.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1.1em;
}

.form-check .form-check-input {
  float: left;
}

.btn-position-fixed {
  margin-left: 1rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: max-content;
}

.text-nav-left {
  line-height: 1.2em;
}

.float-inline-start {
  float: inline-start;
  line-height: 1.2em;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0163e0;
  --bs-btn-border-color: #0163e0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3a87e9;
  --bs-btn-hover-border-color: #3a87e9;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3a87e9;
  --bs-btn-active-border-color: #3a87e9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0163e0;
  --bs-btn-disabled-bg: #0163e0;
  --bs-btn-disabled-border-color: #0163e0;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #16bfa3;
  --bs-btn-border-color: #16bfa3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #02d4b1;
  --bs-btn-hover-border-color: #02d4b1;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #02d4b1;
  --bs-btn-active-border-color: #02d4b1;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #16bfa3;
  --bs-btn-disabled-bg: #16bfa3;
  --bs-btn-disabled-border-color: #16bfa3;
}

.img-home {
  width: 50%;
  max-width: 100vw;
  height: 41.15em;
  background-image: url(/src/assets/img/brand/medico.png);
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.btn-scrollup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-color: rgba(23, 84, 66, 0.254);
  background-color: rgba(12, 200, 156, 0.702);
  transition: all 0.3s ease-out;
  color: #ffffff;
}

.btn-scrollup:hover {
  background-color: #d0d0d07f;
  border-color: rgba(23, 84, 66, 0.254);
}

.form-label {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.bg-gradient-radial {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.gradient-background {
  background: rgb(255, 236, 213);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 236, 213, 1) 0%,
    rgba(255, 208, 158, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 236, 213, 1) 0%,
    rgba(255, 208, 158, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 236, 213, 1) 0%,
    rgba(255, 208, 158, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffecd5",endColorstr="#ffd09e",GradientType=1);
}

.shadow {
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.yellow {
  color: #ffbb0e;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f2937; /* Fondo oscuro */
}

.loading-content {
  text-align: center;
}

.spinner-border {
  color: #ffffff; /* Color blanco */
}

.text-align-middle {
  vertical-align: middle;
}

.card {
  border: none;
}

/* Media query para pantallas con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }

  .container {
    padding: 0 0.5rem;
  }

  .form-control {
    width: 100%;
    padding: 0.5rem;
  }

  .btn-login-home {
    width: 100%;
    font-size: 14px;
    height: auto;
  }

  .shadowtop {
    padding: 1rem;
  }

  .shadowsearchdate {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .col-6 {
    width: 100%;
  }

  .forgot-password {
    margin-right: 0;
    padding-left: 0;
  }

  .btn-position-fixed {
    margin-left: 1rem;
  }

  .img-home {
    width: 100%;
    height: auto;
  }

  .heading1 {
    font-size: 1.2rem;
  }
}

/* Media query para pantallas con un ancho máximo de 910px */
@media screen and (max-width: 910px) {
  .img-home {
    display: none !important;
  }
}
